.footer-main-div{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 20px 0;
}

.footer-contact-and-email{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px 120px;
}

.footer-contact-and-email span{
    display: flex;
    align-items: center;
    gap: 5px;
}

.footer-contact-and-email span p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}


.footer-email-div{
    display: flex;
    gap: 10px;
}

.footer-email-div input{
    height: 35px;
    width: 250px;
    border-radius: 25px;
    border: none;
    outline: none;
    padding: 4px 10px;
}

.footer-email-div button{
    height: 35px;
    width: 120px;
    border-radius: 25px;
    border: 1px solid blue;
    background-color: transparent;
    color: blue;
    cursor: pointer;
}

.footer-email-div button:hover{
    background-color: blue;
    color: black;
    border: 1px solid black;
}